* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }

  .fontStyle2 {
    font-family: 'Manrope', sans-serif;
  }

  .fontStyle1 {
    font-family: 'Anton', sans-serif;
  }

  .compact {
    line-height: 1.5em
  }

  a.customNav {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    min-width: 80px;
    text-align: center;
    border-right: 1px solid #e55c69;
    padding: 14px 18px;
  }

  a.active,
  a.customNav:hover {
    background: rgba(255, 255, 255, 0.2) !important;
    border-color: transparent
  }

  @media screen and (min-width:797px) {
    #bottomNavbar.collapse {
      display: block
    }
  }

  @media screen and (max-width:796px) {
    #bottomNavbar {
      padding: 14px;
    }

    #bottomNavbar a.customNav {
      display: block !important;
      border: none;
      background: rgba(0, 0, 0, 0.2);
      margin-top: 4px;
      margin-bottom: 4px;
      margin-left: -5px;
      margin-right: -5px;
    }

    #removeFlex {
      display: block !important;
      text-align: center
    }
  }